@import '../variables';

.chat {
    flex-direction: column;
}

.header {
    background-color: #f3f3f3;
    height: 60px;
    line-height: 60px;
    padding: 0 $spacing / 2;
    border-bottom: 1px solid black;
    z-index: 1;
    position: relative;
    display: flex;
}

.room {
    flex-direction: row;
}

.room-chat {
    flex-direction: column;
}

.user-list {
    border-bottom: 1px solid $grey;
    margin-bottom: $spacing / 2;

    .online {
        padding: 10px 0;
    }

    .online::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: $green;
        border-radius: 50%;
        margin-right: 7px;
    }
}

.conversation {
    margin-bottom: 50px;
    background: #fff;
    padding: 0;
    margin: 0;
    overflow: auto;
    flex: 1 0 0;
}

.message-container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: $spacing / 2;
    background-color: lighten($blue, 20%);

    .user {
        flex-grow: 1;
        font-weight: bold;
        margin-right: 20px;
    }

    .message {
        flex-grow: 2;
        border-radius: 7px;
        margin-bottom: 30px;
    }

    .timestamp {
        flex-grow: 1;
        color: $light-grey;
        font-size: 0.750em;
        text-align: right;
    }
}

.entry {
    position: relative;
    bottom: 50px;
    height: 50px;
    min-height: 50px;
    display: flex;
    background-color: lighten($light-grey, 20%);
}

input {
    max-height: 100%;
    padding: $spacing / 2;
    flex: 1;
}
