@import 'variables';
@import 'mixin';

html,
body {
  height: 100%;
}

body {
    font-family: 'Arial';
    font-size: 16px;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

a {
    color: $blue;
    text-align: center;
    display: block;
}

label {
    font-weight: bold;
}

input {
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid $grey;
    font-size: 1em;
    padding: 0 20px;
    outline: none;
}
