header {
    height: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: grey;
    z-index: 1;
}

main {
    padding-top: 2em;
    //position: fixed;
    //top: 2rem;
}
