@import "mixin";

.chat, .room, .room-chat {
    flex: 1;
    display: flex;
}

.blackbox {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.top-bar {
    background-color: grey;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;

    .header-item {
        padding: 5px;
    }

    .logo {
        font-size: 2em;
    }

}

.sidebar {
    width: 200px;
    min-width: 200px;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: green;
    padding: $spacing / 2;

    @include bp(mobileonly) {
        height: 100%;
        position: absolute;
        top: 0;
        left: -200px;
    }

    .menu {
        left: 10px;
    }
}

.content {
    display: flex;
    flex: 1;
}
