@import 'global';

.btn {
    width: 80%;
    height: 40px;
    background: $blue;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid $grey;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    cursor: pointer;

    &:hover {
        background: $grey;
        border: transparent;
    }

    &:disabled {
        background: lighten($light-grey, 20%);
        cursor: default;
    }
}

.login-form {
    padding: 20px;

    input {
        margin-bottom: 20px;
        width: 100%;
    }
}
