.toast-container {
    position: fixed;
    top: 3.5em;
    right: 0;
    z-index: 100;
}

.toast {
    opacity: 0.75;
    padding: 5px;
    margin: 2px;
}

.trace {
    background: lightgray;
}

.success {
    background: green;
}

.error {
    background: red;
}

.warning {
    background: orange;
}

.info {
    background: dodgerblue;
}

.toast:hover {
    opacity: 1;
}
